* {
  box-sizing: border-box;
}

body {
  font-family: Raleway;
  margin: 0;
  padding: 0;
  background-color: white;
  
}    

.hidden {display: none;}

.note_icon img {
  border-radius: 360px;
  width:56px;
  height:51px;
}

.note_icon > img {
  width: 50px;
  }
.screens > .note_icon {
    flex-grow: 0;
  }


header {
  text-align: center;
  margin-top:0;
  top:0;
 
  padding:20px 0;
  color:white;
  background-color: dimgray;
  width:100%;
height: 100px;
}
main {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1500px;
  max-height: 1600px;
 margin: 0 auto;
font-size: 12px
  }

.banner {
  display: inline-block;
} 



header ul {
text-align: right;

font-size:20px;
}

header ul li {
  list-style: none;
 display: inline-block;
  text-align:center;
  padding: 0 8px;
  font-family: 'Lobster', cursive;

}

.responsive-menu{
 display: none;
}

.responsive-menu ul li{
 list-style:none;
 background-color:black;
 color: white;
 width:60px;
 font-family: 'Lobster', cursive;
 float:right;
}

.responsive-menu ul li a{
 color:white;
}

.responsive-menu ul li a:hover{
 list-style:none;
 background-color:white;
 color: green;
}

.expand {
 display: block !important;
 }

.start {
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  margin: 10px;
  image-orientation: center;
  text-align: center;
  background-color: white;
  padding: 10px;
 }
.start p {
  text-align: center;
  font-style: oblique;
}


.navigation {
  background-color:  black;
  color: white;
  text-align: right;
  padding:0;
  height:25px;
  }
  
.screens li {
  display: inline-block;
  list-style: none;
  padding: 0 12px;
 color:gray;
 font-family: 'Lobster', cursive;
 text-decoration: none;

  }
  

  .screens a {
    color:white;
    text-decoration: none;
  }


  .hamburger {
    color: gray;
  }
.responsive_menu {
  display:none;
  text-align: right;
}



 /*Quiz page questions*/

 #quizPage{
   width:100%;
   margin:10px;
   padding:5px;
 } 


 form {
    display: block;
    margin-top: 0em;
}

.btn-container {
    position: relative;
    padding: 20px 0;
    
}
.quizQuestions{
  
  width:300px;
  
}

#question {
  color:#000000;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}


.answerContainer {
  display:block; 
  position:relative; 
  padding: 10px 10px 10px 50px; 
  margin-bottom: 6px; /*change to 1px */
  cursor:pointer; 
  font-size:18px; 
  word-wrap: break-word;
  font-weight: 900;
  background-color: rgba(211, 211, 211, 0.747);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  
  }

  label {
    transition: all 0.3s ease-out;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
  }

input {
  transition: 0.2s all linear;
}

.answerContainer:hover {
  background-color: dimgray;
  color: white;
}




/* Hide the browser's default radio button*/
.answerContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
} 

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.answerContainer:hover input ~ .checkmark {
  background-color: #96ac70;
  transition: 0.5s all linear;
  
}

/* When the radio button is checked, add a blue background */
.answerContainer input:checked ~ .checkmark {
background-color: #4d612a;
transition: 1s all linear;

}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked*/ 
.answerContainer input:checked ~ .checkmark:after {
  display: block;
  }

/* Style the indicator (dot/circle)*/ 
 .answerContainer .checkmark:after {
 	 top: 5px;
	left: 6px;
	width: 8px;
	height: 8px;
	
  

 /*  "\f0d6"for dollar note. \f155 for dollar sign*/
 content: "\f155";
  font-family: 'FontAwesome'; 
  /* on mobile add focus that confirms a selected answer */
} 

input[type="radio"] {
  -webkit-appearance:checkbox; 
  -moz-appearance:checkbox;    
  -ms-appearance:checkbox;    
}


fieldset {
  border: none
  }


input[type=radio] {
    flex: 0 0 auto;
    margin-right: 10px;
}

.quizSubmit {
outline:none;
font-size: 25px;
height: 50px;
width:150px;

}
 button,.quizSubmit {
outline:gray 2px;
border-radius: 2px;
height: 50px;
width:150px;
display: inline-block;
padding: 8px 16px;
vertical-align: middle;
overflow: hidden;
text-decoration: none;
color: inherit;
background-color: inherit;
text-align: center;
cursor: pointer;
white-space: nowrap;
border: gray solid 1px;
text-transform: uppercase;
font-weight:600;
font-size: 25px;
}

button:hover, .quizSubmit:hover{

  background-color: #000000;
  box-shadow: 0px 15px 20px black;
  color: white;
  transform: translateY(2px); }

 .quizSubmit{
   margin-top: 15px;
   background-color: #000000;
   color: white;
   }

.quizSubmit:hover{
   box-shadow: 0px 15px 20px black;
}

.checkmark { 
position: absolute; 
top: 15px; 
left: 15px; 
height: 19px; 
width: 19px; 
background-color: #fff; 
border-radius: 50%; }

.feedback{
  margin-top: 10px;
    background-color: rgba(211, 211, 211, 0.747);
    
    padding: 25px;
}

/* font and img size smaller for mobile */
.start img , .feedback img{
 height:167px;
    width:123px;
}



#quizNext{
  float:right;
  background-color: dimgray;
}


.topic a {
  font-style: oblique;
  font-size: 25px;
  color:#000000;
  text-decoration: none;
  
}
 #correctAnswer, .topic a:hover {
color:darkolivegreen;
font-family: 'Lobster', cursive;
text-decoration: none;
}


/* mobile resource menu */

.resources-menu {
z-index: 1;
width: 100%;
height:100%;
background-color:black;
display: inline-block;
}

.resources-menu ul {
list-style:none;

padding:50px;
text-align: center;
font-family: 'Lobster', cursive;
display: relative;
z-index: 1;
}

.resources-menu a {
color:white;
text-decoration:none;

}


.resources-menu  ul li {
padding:20px;
font-size:20px}

.resources-menu {
position:absolute;
margin:0 auto;
text-align: center;
width:100%;
height:100%;
display: none;
}

.resources-menu .menu-close {
    float: right;
    margin: 36px 40px 145px 0;
}

 .menu-close  {
font-size:20px;
text-decoration:none;
}

a .menu-close:hover{
text-decoration:none;
}

/*Media queries for screen changes.
Phone:435px
Tablet:545px
Desktop/Laptop:1000px

*/


 @media screen and (min-width: 800px) {
  .hamburger {
   color:rgb(58, 55, 55); 
   text-align:left; 
   font-size: 0px;
      }

  .navigation {
   height:50px;
 }
}



@media screen and (max-width: 800px) {
  .screens li {
    font-size: 0px;
     
     
  }
}
/* alignment of .start class to horizontally stack.*/
@media screen and (min-width: 800px) {
  main {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
   background: url("https://i.pinimg.com/originals/5f/26/39/5f2639d8345e3912e9676260b4c0c676.png");

  
   }

} 


/* .note_icon appears next to the Score  @ tablet and desktop */

@media screen and (min-width: 800px) {
  header {
     display: flex;
     flex-direction: row;
     align-content: center;
     justify-content:space-between;
     padding-left: 10px;
     padding-right: 10px;
     
    }

    /* header grows as pixel width passes 800px */
header ul li {
text-align: right;

font-size:45px;

}

.navigation {
  text-align: center;
  padding:0;
  height:60px;
  
  }
  
.screens li {
 font-size: 32px;
  }
  



.note_icon img {
  float:left;
  width:112px;
  height:102px;

    left:10px;
    top:10px;
    margin: 20px 15px 15px 0px;

}


   

.score_keep {
 text-align:right; 
 font-size: 70px;
 align-content: flex-end;
 right:10px;

 display: inline-block;

    
    vertical-align:bottom;
    line-height:normal; 
    position:absolute;
  }

  .banner {
    display: flex;
   align-items:center;
  }

/*When .responsive_menu is toggled and the width of window was increased, it stays visible - the fix:*/

/* .expand {
  font-size: 0px;
} */


.quizForm {
  padding-top: 50px;
  
  margin:0 auto;
 display: block;
 background-color: black;
  width: 350px;
height: 357px;
overflow:word-break; 
}



.quizForm h3 {
  color:white;
  font-family: 'Fira Sans', sans-serif;

}

main {
  font-size: 20px;
}

.start img {
height:300px;
    width:250px;
}

 .feedback img{
 height:267px;
    width:223px;
}


 .quizQuestions{
  margin:0 auto;
  width:500px;
  
}
header ul {
  float: left;
}




 }
